{% extends 'blogs/base.html' %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form class="row" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card">
                    <div class="card-header">
                        <h4>Создание нового блога</h4>
                    </div>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="{{ form.title.id_for_label }}" class="form-label">{{ form.title.label }}</label>
                            {{ form.title }}
                            {% if form.title.errors %}
                                <div class="text-danger">{{ form.title.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.body.id_for_label }}" class="form-label">{{ form.body.label }}</label>
                            {{ form.body }}
                            {% if form.body.errors %}
                                <div class="text-danger">{{ form.body.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label for="{{ form.photo.id_for_label }}" class="form-label">{{ form.photo.label }}</label>
                            {{ form.photo }}
                            {% if form.photo.errors %}
                                <div class="text-danger">{{ form.photo.errors }}</div>
                            {% endif %}
                        </div>

                        <div class="mb-3">
                            <label class="form-label">{{ form.is_published.label }}</label>
                            <div>
                                {% for choice in form.is_published %}
                                    <div class="form-check">
                                        {{ choice.tag }}
                                        <label class="form-check-label" for="{{ choice.id_for_label }}">
                                            {{ choice.choice_label }}
                                        </label>
                                    </div>
                                {% endfor %}
                            </div>
                            {% if form.is_published.errors %}
                                <div class="text-danger">{{ form.is_published.errors }}</div>
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-footer">
                        <button type="submit" class="btn btn-primary">
                            Сохранить
                        </button>
                        <a href="{% url 'blogs:blogs_list' %}" class="btn btn-secondary">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}