{% extends 'base.html' %}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card shadow-sm">
                    <img src="{{ object.image | media_filter }}" class="card-img-top" alt="{{ object.name }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ object.name }}</h5>
                        <p class="card-text">{{ object.description }}</p>
                        <p class="card-text"><strong>Цена: {{ object.price }} руб.</strong></p>
                        <p class="card-text">Категория: {{ object.category }}</p>
                        <p class="card-text"><small class="text-muted">Создан: {{ object.created_at|date:"d.m.Y H:i" }}</small></p>
                        <p class="card-text"><small class="text-muted">Обновлен: {{ object.updated_at|date:"d.m.Y H:i" }}</small></p>

                        <div class="btn-group" role="group">
                            <a class="btn btn-primary" href="{% url 'catalog:products_list' %}" role="button">← Назад к списку</a>
                            <a class="btn btn-secondary" href="{% url 'catalog:product_edit' object.pk %}" role="button">Редактировать</a>
                            <a class="btn btn-danger" href="{% url 'catalog:product_delete' object.pk %}" role="button">Удалить</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}